
<!DOCTYPE html>
<html>
<head>
  <title>LeaderBox</title>
  <meta charset="utf-8">
</head>
<body style="background: #2c3e50">
	<div style="margin-left: 5%">
		<h1>LeaderBox</h1>
		<h2>The leaderboard for your inbox!</h2>
	</div>
	<div id="doughnutChart" class="chart"></div>	
</body>
<script>
</script>
</html>